<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="isSignedIn else notSignedInTemplate">
      <pre>{{user| json}}</pre>
      <ion-button (click)="onSignOutClick()" fill="clear">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        <ion-label>Sign out</ion-label>
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
      </ion-button>
    </ng-container>
    <ng-template #notSignedInTemplate>

      <ion-button (click)="onSignInClick()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        <ion-label>Sign in</ion-label>
        <ion-icon name="log-in-outline" slot="end"></ion-icon>
      </ion-button>
    </ng-template>
  </div>
</ion-content>